.App {
  display: flex;
  margin-top: 30px;
}

body {
  background: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1150px) {
  body {
    background: none;
  }
}
